@import "../variables";

@mixin pwa-buttons-styles {
  a, button {
    &[class*=" PwaButton--"],
    &[class^="PwaButton--"] {
      position: relative;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
      border-style: solid;
      border-width: 1px;
      font-weight: 700;
      outline: none;
      transition: color 300ms cubic-bezier(0.42, 0, 1.0, 1.0), background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0), border-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
      white-space: nowrap;

      &:not([disabled]):hover {
        border-style: solid;
        border-width: 1px;

        &::before {
          opacity: 0;
          transform: scale(0);
        }
      }

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &.PwaButton--1 {
      background-color: map-get($pwa-colors, "purple");

      &,
      &:active,
      &:focus,
      &:visited {
        color: map-get($pwa-colors, "white");

        &.PwaButton--alt {
          color: map-get($pwa-colors, "purple");
        }
      }

      &:not([disabled]):hover {
        color: map-get($pwa-colors, "purple");
        background-color: map-get($pwa-colors, "white");
        border-color: map-get($pwa-colors, "purple");
      }

      &.PwaButton--alt {
        background-color: map-get($pwa-colors, "white");

        &:not([disabled]):hover {
          color: map-get($pwa-colors, "white");
          background-color: map-get($pwa-colors, "purple");
          border-color: map-get($pwa-colors, "white");
        }
      }

      &:focus {
        outline:none;
      }
    }

    &.PwaButton--small {
      padding: 3px 5px;
      font-size:0.8em;
    }

    &.PwaButton--large {
      padding: 10px 25px;
      font-size:1.2em;
    }

    &.PwaButton--block {
      display:block;
      width: 100%;
    }
  }
}