@import "../../variables";
@import "../../mixins/elements";

// Personnalisation
.PwaInstallPromotion {
  @include pwa-buttons-styles;
}

.PwaInstallPromotion--fixed {
  position: fixed;
  bottom: 0;
  align-items: center;
  padding:15px;
  transform:translateY(100%);
  //box-shadow: 0 0 8px 2px rgba(161,161,161,1);

  &.show {
    display: flex;
    transform:translateY(0);
    transition: transform 500ms ease-in-out;
  }

  .PwaInstallPromotion-text {
    width: 70%;
  }

  .PwaInstallPromotion-action {
    width: 30%;
  }
}

.PwaInstallPromotion {
  background-color: map-get($pwa-colors, "purple");
  color: map-get($pwa-colors, "white");
}

.PwaInstallPromotion-title {
  color: map-get($pwa-colors, "white");
  font-size: 18px;
  margin-bottom:5px;
}

.PwaInstallPromotion-content {
  color: map-get($pwa-colors, "white");
  font-size: 12px;
  line-height:1.2;
}

.PwaInstallPromotion-action {
  text-align: right;
}